.engineroom-room{
  width: 100vw;
  height: 100vh;
  background: url("assets/engineroom-bg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  .room-top{
    background: url("assets/engineroom-top.png") no-repeat;
    background-size: cover;
    width: calc(253px /2);
    height: calc(77px /2);
    position: absolute;
    top: 0;
    left: calc((100vw - (253px / 2)) / 2);
    text-align: center;
    .top-title{
      display: block;
      font-size: 18px;
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #ffffff;
      line-height: 36px;
    }
  }
  .room-inputs{
    position: absolute;
    right: 5vw;
    top: 0;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 1px 3px #000;
    text-align: center;
    .r-input{
      background: url("assets/main-input-bg.png") no-repeat;
      background-size: cover;
      width: calc(15vh / 87 * 206);
      height: 15vh;
      line-height: 15vh;
      margin-top: 15vh;
      display: block;
      color: #FF0000;
      white-space: nowrap;
    }
  }
}