extends ../../modules/html-templates/base.pug

block title
    title 瑞士国际航空SWISS
block content
    .engineroom-room
        .room-top
            span.top-title 请选择舱位
        .room-inputs
            a(href="http://10.148.60.75:8080/pages/aircraftroom.html").r-input 头等舱
            a(href="http://10.148.60.75:8080/pages/aircraftroom.html").r-input 商务舱
            a(href="http://10.148.60.75:8080/pages/aircraftroom.html").r-input 经济舱