.loading-box{
  padding-top: calc((100vh - 8rem) / 2);
}
.loading-show{
  width: 100vw;
  height: 100vh;
  background: url("assets/loading.png") no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}
.loading-logo{
  background: url("assets/loading-mid.gif") no-repeat;
  background-size: 100% 100%;
  width: 8rem;
  height: 8rem;
  margin: auto;
}