.main-page-tips{
  display: none;
  .main-tips-bg{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: .8;
  }
  .main-tips{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    .main-introduce-content{
      color: #ffffff;
      height: 90vh;
      overflow-x: scroll;
      padding: 8vh 15vw 0 10vw;
      .introduce-head{
        font-weight: 900;
        font-family: sans-serif;
        letter-spacing: 1px;
        display: block;
        font-size: 20px;
      }
      .introduce-titie{
        letter-spacing: 1px;
        margin-top: 10px;
        span {
          display: inline-block;
          margin-top: 2px;
        }
        span:last-child{
          margin-top: 20px;
        }
      }
    }
    .introduce-page-lose{
      position: absolute;
      background: url("assets/main-lose.png") no-repeat;
      background-size: cover;
      display: inline-block;
      width: calc(53px / 1.6);
      height: calc(53px / 1.6);
      right: 8%;
      top: 10vh;
    }
  }
}
.main-page{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main-bg1{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  z-index: 7;
  background-position: center;
}
.main-bg2{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-02.png") no-repeat;
  background-size: cover;
  z-index: 6;
  background-position: center;
}
.main-bg3{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-03.png") no-repeat;
  background-size: cover;
  z-index: 5;
  background-position: center;
}
.main-bg4{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-04.png") no-repeat;
  background-size: cover;
  z-index: 4;
  background-position: center;
}
.main-bg5{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  z-index: 3;
  background-position: center;
}
.main-content{
  z-index: 8;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  .content-logo{
    background: url("assets/main-logo.png") no-repeat;
    background-size: cover;
    top: 4%;
    left: 3%;
    width: calc(194px / 1.5);
    height: calc(79px / 1.5);
    position: absolute;
  }
  .content-click{
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    font-size: 0;
    .click{
      width: 40vw;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: 20px;
      color: #FF0000;
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      text-shadow: 2px 1px 3px #000;
      .click-bg{
        background: url("assets/main-input-bg.png") no-repeat;
        background-size: cover;
        width: calc(206px / 1.5);
        height: calc(87px / 1.5);
        line-height: calc(87px / 1.5);
        display: inline-block;
      }

    }
    .click-left{
      margin-left: 10vw;
    }
  }
}

@media screen and (max-height: 480px) {
}
