extends ../../modules/html-templates/base.pug

block title
  title 瑞士国际航空SWISS
block content
  div.main-page-tips(data-tips="main-page")
    div.main-tips-bg
    div.main-tips
      div.main-introduce-content
        span.introduce-head 活动细则
        div.introduce-titie
          span 1.活动时间: 2018年4月19日-2018年5月3日
          span 2.活动机制:
            p A.关注瑞士国际航空官方微信公众号;
            p B.开始旅程, 根据提示, 获取明信片, 并将明信片分享至朋友圈.
            p C.将朋友圈分享页面的截图及本人的姓名与电话,发送至瑞士国际航空官方微信公众号后台.
            p D.我们将随机抽取20名幸运粉丝获得瑞士国际航空送出的奖品.
          span 3.奖品设置:
            p 一等奖: 国内往返瑞士机票(2名)
            p 二等奖: 瑞士国际航空特制礼包(8名)
            p 三等奖: 瑞士国际航空飞机模型(10名)
          span 4.公布中奖名单: 中奖名单将于2018年5月10日在瑞士航空微信公众号公布.
          span 5.奖品发放: 瑞士国际航空将于活动结束后7个工作日内联系中奖者沟通奖品发放事宜,如个人原因未能及时回复, 瑞士国际航空将不进行补发.
          span *本次活动最终解释权归瑞士国际航空所有
      a.introduce-page-lose(data-click="tips-lose")
  div.main-page(data-item="main")
    div.main-bg1(data-finish="1",data-item="bg")
    div.main-bg2(data-finish="2",data-item="bg")
    div.main-bg3(data-finish="3",data-item="bg")
    div.main-bg4(data-finish="4",data-item="bg")
    div.main-bg5(data-finish="5",data-item="bg")
    div.main-content
      div.content-logo
      div.content-click(data-animate="clickbox")
        a.click.click-left
          span.click-bg(data-click="main-activities") 活动细则
        a.click(href="http://10.148.60.75:8080/pages/engineroom.html")
          span.click-bg 开始旅行



