.aircraftroom-room{
  width: 100vw;
  height: 100vh;
  .room-top{
    background: url("assets/engineroom-top.png") no-repeat;
    background-size: cover;
    width: calc(253px /2);
    height: calc(77px /2);
    position: absolute;
    top: 0;
    left: calc((100vw - (253px / 2)) / 2);
    text-align: center;
    .top-title{
      display: block;
      font-size: 18px;
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #ffffff;
      line-height: 36px;
    }
  }
  .room-inputs{
    position: absolute;
    right: 5vw;
    top: 0;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 1px 3px #000;
    text-align: center;
    .r-input{
      color: #FF0000;
      background: url("assets/main-input-bg.png") no-repeat;
      background-size: cover;
      width: calc(15vh / 87 * 206);
      height: 15vh;
      line-height: 15vh;
      margin-top: 15vh;
      display: block;
      white-space: nowrap;
    }
  }
  .room-right{
    left: 5vw;
    right: inherit;
    .r-input{
      position: relative;
      span{
        position: absolute;
        right: -10px;
      }
    }

  }
  .room-bottom{
    background: url("assets/aircraftroom-bottom.png") no-repeat;
    background-size: cover;
    width: calc(213px /2);
    height: calc(135px /2);
    position: absolute;
    bottom: 0;
    left: calc((100vw - (213px / 2)) / 2);
    text-align: center;
    display: block;
    span {
      display: block;
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #ffffff;
    }
    .r-title1{
      margin-top: 20px;
      font-size: 14px;
    }
    .r-title2{
      font-size: 20px;
    }
  }
}
//三种舱型
.first-room{
  background: url("assets/aircraftroom-bg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.second-room{
  background: url("assets/aircraftroom-bg2.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.third-room{
  background: url("assets/aircraftroom-bg3.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.aircraftroom-service{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  .service-lose{
    background: url("assets/service-lose-bg.png") no-repeat;
    background-size: cover;
    width: calc(72px / 1.5);
    height: calc(87px / 1.5);
    display: block;
    position: absolute;
    top: 5vh

  }
  .service-food{
    width: 100vw;
    height: 100vh;
    background-color: #6D0C0C;
    background-size: cover;
    display: none;
    font-size: 0;
    .service-left{
      background: url("assets/1-food-left.png") no-repeat;
      background-size: cover;
      width: 40vw;
      height: 100vh;
      display: inline-block;
      background-position: center;
      span{
        font-family: sans-serif;
        letter-spacing: 1px;
        display: block;
        color: #ffffff;
        font-size: 16px;
        position: absolute;
        bottom: 10vh;
        left: 2vw;
      }
    }
    .service-right{
      height: 100vh;
      width: 60vw;
      display: inline-block;
      vertical-align: top;
      .service-right-row{
        height: 50vh;
        width: 100%;
        vertical-align: top;
        .row{
          width: 26vw;
          height: 40vh;
          display: inline-block;
        }
        .row1{
          background: url("assets/1-food-1.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row2{
          background: url("assets/1-food-2.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }
        .row3{
          background: url("assets/1-food-3.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row4{
          background: url("assets/1-food-4.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }

        .row5{
          background: url("assets/1-food-5.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row6{
          background: url("assets/1-food-6.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }
        .row7{
          background: url("assets/1-food-7.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row8{
          background: url("assets/1-food-8.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }

        .row9{
          background: url("assets/1-food-9.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row10{
          background: url("assets/1-food-10.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }
        .row11{
          background: url("assets/1-food-11.png") no-repeat;
          margin: 5vh 1.5vw 5vh 2.5vw;
          background-size: cover;
          background-position: left;
        }
        .row12{
          background: url("assets/1-food-12.png") no-repeat;
          margin: 5vh 2.5vw 5vh 1.5vw;
          background-size: cover;
          background-position: left;
        }
      }
    }
  }
  .entertainment-first{
    background: url("assets/1-entertainment-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .entertainment-second{
    background: url("assets/2-entertainment-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .entertainment-third{
    background: url("assets/3-entertainment-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .service-entertainment{
    width: 100vw;
    height: 100vh;
    display: none;
    .entertainment-title{
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      top: 70vh;
      left: 5vw;
    }
  }
  .chair-first{
    background: url("assets/1-chair-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .chair-second{
    background: url("assets/2-chair-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .chair-third{
    background: url("assets/3-chair-bg.png") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .service-chair{
    width: 100vw;
    height: 100vh;
    display: none;
    .chair-title{
      font-weight: 900;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      top: 40vh;
      left: 5vw;
    }
  }
}
@media screen and (max-width: 568px) {
  .service-left{
    span{
      font-size: 12px!important;
    }
  }
  .room-inputs{
    font-size: 16px!important;
  }
}