extends ../../modules/html-templates/base.pug

block title
    title 瑞士国际航空SWISS
block content
    .aircraftroom-service(data-item="aircraft-tips")
        .service-food(data-item="food")
            span.service-lose(data-click="service-lose")
            .service-left
                span 尊敬的乘客,请您选择您的午餐〉
            .service-right
                .service-right-row
                    //.row.row1
                    //.row.row2
                    //.row.row5
                    //.row.row6
                    .row.row9
                    .row.row10
                .service-right-row
                    //.row.row7
                    //.row.row8
                    //.row.row3
                    //.row.row4
                    .row.row11
                    .row.row12
        .service-entertainment.entertainment-third(data-item="entertainment" )
            span.service-lose(data-click="service-lose")
            div.entertainment-title
                p 您可以在您的单独屏幕上观看电影、听 CD、
                p 看电视剧和玩游戏,一切随您所愿
        .service-chair.chair-third(data-item="chair")
            span.service-lose(data-click="service-lose")
            div.chair-title
                p 每一张椅子都可以为您形成一个个人包厢,
                p 并且可以完全根据您的喜好来调整.
    .aircraftroom-room.third-room
        .room-top
            span.top-title 头等舱
        .room-inputs
            a.r-input(data-click="aircraft-food") 品尝美食
            a.r-input(data-click="aircraft-entertainment") 机上娱乐
            a.r-input(data-click="aircraft-chair") 舒适座椅
        .room-inputs.room-right
            a(href="http://10.148.60.75:8080/pages/engineroom.html").r-input
                span 体验其他舱位
        a(href="http://10.148.60.75:8080/pages/destination.html").room-bottom
            span.r-title1 开始探索
            span.r-title2 苏黎世