.main-winning{
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  left: 50vw;
  opacity: 0;
}
.text-winning{
  height: 100vh;
  width: 100vw;
}
.img1{
  background: url("assets/bg1.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img2{
  background: url("assets/bg2.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img3{
  background: url("assets/bg3.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img4{
  background: url("assets/bg4.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img5{
  background: url("assets/bg5.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img6{
  background: url("assets/bg6.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img7{
  background: url("assets/bg7.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.img8{
  background: url("assets/bg8.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.text1{
  background: url("assets/img1.png") no-repeat;
}
.text2{
  background: url("assets/img2.png") no-repeat;
}
.text3{
  background: url("assets/img3.png") no-repeat;
}
.text4{
  background: url("assets/img4.png") no-repeat;
}
.text5{
  background: url("assets/img5.png") no-repeat;
}
.text6{
   background: url("assets/img6.png") no-repeat;
 }
.text7{
  background: url("assets/img7.png") no-repeat;
}
.text8{
  background: url("assets/img8.png") no-repeat;
}