.destination-page{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  .slick-prev{
    background: url("assets/destination-left.png") no-repeat !important;
    background-size: cover !important;
    width: calc(58px / 1.5);
    height: calc(116px / 1.5);
    position: absolute;
    left:0;
    z-index: 100;
    top: calc(100vh / 2);
  }
  .slick-prev::before{
    display: none;
  }
  .slick-next{
        background: url("assets/destination-right.png") no-repeat!important;
        background-size: cover !important;
        width: calc(58px / 1.5)!important;
        height: calc(116px / 1.5)!important;
        position: absolute;
        right:0;
        z-index: 100;
        top: calc(100vh / 2);
  }
  .slick-next::before{
    display: none;
  }
}
.destination-bg1{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg2{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-2.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg3{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-3.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg4{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-4.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg5{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-5.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg6{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-6.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg7{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-7.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-bg8{
  height: 100vh;
  width: 100vw;
  background: url("assets/destination-bg-8.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.destination-content{
  height:100vh;
  width: 100vw;
  position: relative;
  .destination-title{
    position: absolute;
    top: 8vh;
    right: 7vw;
    color: #ffffff;
    .d-title1{
      font-size: 45px;
    }
    .d-title2{
      font-size: 27px;
    }
    .d-zoom{
      text-align: right;
      margin-top: 10px;
      .z-t-zoom{
        background: url("assets/destination-zoom.png") no-repeat;
        background-size: cover;
        height: calc(23px / 1.2);
        width: calc(15px / 1.2);
        margin-right: 5px;
      }
      span{
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.destination-inputs{
  position: absolute;
  right: 0;
  bottom: 10vh;
  font-size: 0;
  font-weight: 900;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 1px 3px #000;
  text-align: center;
  padding: 0 10vw;
  .r-input{
    color: #FF0000;
    background: url("assets/main-input-bg.png") no-repeat;
    background-size: cover;
    width: calc(15vh / 87 * 206);
    height: 15vh;
    line-height: 15vh;
    display: inline-block;
    margin-left: calc((((80vw /3) - (15vh / 87 * 206)) / 2) - 1px) ;
    margin-right: calc((((80vw /3) - (15vh / 87 * 206)) / 2) - 1px) ;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    span{
      position: absolute;
      right: -20px;
    }
  }
}
@media screen and (max-width: 568px) {
  .destination-content{
    .destination-title{
      .d-title1{
        font-size: 35px;
      }
      .d-title2{
        font-size: 21px;
      }
    }
  }
  .destination-inputs{
    font-size: 14px!important;
    .r-input{
      span{
        right: 0;
      }
    }
  }
}