extends ../../modules/html-templates/base.pug

block title
    title 瑞士国际航空SWISS
block content
    div.destination-page(data-item="bg")
        div.destination-bg1(data-finish="1",data-item="bg")
            div.destination-content
                div.destination-title
                    p.d-title1 欢迎来到苏黎世
                    p.d-title2 滑动屏幕选择喜欢的明信片
                    div.d-zoom
                        span.z-t-zoom
                        span 瑞士,苏黎世,瑞航候机室
        div.destination-bg2(data-finish="2",data-item="bg")
            div.destination-content
                div.destination-title
                    p.d-title1 欢迎来到苏黎世
                    p.d-title2 滑动屏幕选择喜欢的明信片
                    div.d-zoom
                        span.z-t-zoom
                        span 瑞士,苏黎世,利马特河
        div.destination-bg3(data-finish="3",data-item="bg")
            div.destination-content
                div.destination-title
                    p.d-title1 欢迎来到苏黎世
                    p.d-title2 滑动屏幕选择喜欢的明信片
                    div.d-zoom
                        span.z-t-zoom
                        span 瑞士,苏黎世,瑞士国家博物馆
        div.destination-bg4(data-finish="4",data-item="bg")
            div.destination-content
                div.destination-title
                    p.d-title1 欢迎来到苏黎世
                    p.d-title2 滑动屏幕选择喜欢的明信片
                    div.d-zoom
                        span.z-t-zoom
                        span 瑞士,苏黎世,苏黎世湖畔
    div.destination-inputs
        a.r-input()
            span 前往其他欧洲城市
        a.r-input(data-click="postcard" data-url="http://10.148.60.75:8081/pages/postcard.html?") 制作明信片
        a.r-input(href="http://10.148.60.75:8080/pages/main.html") 返回首页

